/.idea
/node_modules
/public/hot
/public/js
/public/css
/public/storage
/storage/*.key
/storage/logs/
/storage/framework/
/bootstrap/cache/
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/git-init.txt
/.editorconfig
/.htaccess
/teilnehmer.txt
/.env.secret
